<%= javascript_include_tag :all %>
<script type='text/javascript'>
	new Ajax.PeriodicalUpdater('chart0', 'chart/0', {frequency: 5});
	new Ajax.PeriodicalUpdater('chart1', 'chart/1', {frequency: 5});
</script>
<h1>Metrics</h1>
<p>Here, we present measurements of our progress, in the form of charts. Enjoy.</p>
<div id = 'charts'>
<%= render :partial => 'charts' %>
</div>
/Users/Justin/School Files/CASE/EECS600-Ruby/utm2/src/viz/app/controllers/application.rb