<h1>Metrics</h1>
<p>Here, we present measurements of our progress, in the form of charts. Enjoy.</p>
<table>
  <tr>
    <td><img src = "<%= @gmf_graph_url %>"/></td>
    <td><img src = "<%= @gaf_graph_url %>"/></td>
  </tr>
</table>